<h1>Welcome to my assignment API</h1>

<nav>
  <ul>
    <li><a href="/add-assignment-form">add assignment</a></li><br>
    <li><a href="/add-collaborator-form">add collaborator</a></li><br>
  </ul>
</nav>