<h1>Welcome to my assignment API</h1>


<nav>
  <ul>
    <li><a href="/add-assignment-form">add assignment</a></li><br>
    <li><a href="/add-collaborator-form">add collaborator</a></li><br>
    <li><a href="/view-assignments">view assignments</a></li><br>
    <li><a href="/edit-assignment">edit man!</a> </li>
  </ul>
</nav>

<div id="main">
  <ul id="assignments"></ul>
</div>
</div>

<a href="#" id="see_all_assignments">See All Assignments</a>
<a href="/api/modify_assignment">Modify an Assignment</a>

<script src="/global.js" type="text/javascript"></script>