<p>Lets add an assignment!</p>

<form action="/save-user">
  <input type="text" placeholder="Enter name!" name="name">
  <input type="text" placeholder="Enter description!" name="description">
  <input type="text" placeholder="Enter repo!" name="repo">
  <input type="text" placeholder="Enter link!" name="link">
  <input type="submit">
</form>

<a href="/home">GO HOME!</a>